@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

body {
margin: 0;
padding: 0;
text-align: justify;
box-sizing: border-box;
background-color: black;
	  /*max-width: 100%;*/
  /*height: auto;*/
}

.cv {
	margin: 20px auto;
	  border: 3px solid white;
	  background-color: white;
	  width: 80%;
	  padding: 2%;
  border-radius: 4px;
  
}


hr {
border: 0.5px solid black;
border-radius: 5px;	
}


.user_header {
	    /*height:auto; */
    /*width:auto;*/
	/*margin: 0px 0px;*/
	/*text-align: center;*/
/*position: relative;*/

}

.user_info {
	font-size: 20px;
	/*vertical-align: top;*/

}

#user_img {
	  text-align: center;
	/*width: 15%;*/
	/*border: 2px solid #ddd; */
	/*position: relative;*/
	  border: 2px solid #ddd;
	  background-color: white;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  /*padding: 0% 50%;*/
  width: 120px;
  /*position: absolute;*/
  /*top: -10%;*/
  /*left: 50%;*/

  /*transform: translate(-50%);*/
}

#user_img:hover {
	 box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#user_detail1 {
	text-align: center;
	left: 50%;
	  /*position: absolute;*/
	  /*padding: 15px 0;*/
	  /*top:150%;*/
  /*left: 50%;
   transform: translate(-50%);*/
}

.icon {
	color: black;
	margin: 0 15px;

}

.hover > a{
	color: black;
	font-size: 40px;
	   text-decoration: none;

}

.hover > a:hover {
	   text-decoration: underline;
}

#user_Dept1 {
	font-style: italic;
}

#user_emp > a:hover {
	text-decoration: underline;
}

#user_detail2 {
	/*position: absolute;*/
	text-align: center;
	
	/*right: 1%;*/
	/*top:200%;*/

}

#user_emp > a {
		color: black;
	text-decoration: none;
}


#user_email > a{
	color: black;
	   text-decoration: none;

}


#user_email > a:hover {
	   text-decoration: underline;
}

.user_data {
	/*margin-top: 12%;*/
}

.div_class {
/*margin-top: 4.5%;	*/
}

.section {
		 font-size: 24px;
		 /*font-family: 'Playfair Display SC', serif;*/
	 font-family: Georgia;

	 /*font-style: bold;*/
	/*text-transform: uppercase;*/
}

.sub_section {
		 font-size: 19px;
	 font-family: Georgia;
	  margin-top: -1%;
}

.status {
	font-style: italic;
}

.position {
	margin-top: 0.5%;	
 font-size: 17px;
 font-style: italic;
}

.paper_name {
font-style: italic;
}

.ed1{
	margin-top: -2px;
	margin-bottom: 20px;
	/*position: relative;*/
}



.education_location1 {
	/*margin-top: 5px;*/
	/*vertical-align: top;*/
		/*display: inline-block;*/
}



#edl1 {
	/*text-align: right;*/
	/*position: absolute;*/
	/*right: 1%;*/
	margin-top: -20px;

}

#edl2 {
	margin-top: 2px !important;
	/*text-align: right;
	position: absolute;
	right: 1%;*/

}


.degree1 {
	margin-top: -20px;	
	font-style: italic;
	/*vertical-align: top;*/
		/*display: inline-block;*/
}

#edl3 {
	margin-top: -20px;
	/*text-align: right;
	position: absolute;
	right: 1%;*/

}

#edl4 {
	margin-top: 2px !important;
	/*text-align: right;
	position: absolute;
	right: 1%;*/

}

.ssection {
	font-size: 20px;
	margin-top: -1.0%;
}

.reference {
	font-size: 20px;
	margin-top: 2px !important;
	/*vertical-align: top;*/
		/*display: inline-block;*/
	
}

#r1 {
	font-size: 17px;
	/*text-align: right;*/
	/*position: absolute;*/
	/*right: 1%;*/
}

.positionref {
	/*margin-top: -35px;	*/
 font-size: 17px;
 font-style: italic;
}

#date {
	text-align: right;
	font-style: italic;
}

@media screen and (min-width: 1340px) {

body {
margin: 0;
padding: 0;
text-align: justify;
box-sizing: border-box;
background-color: black;
	  max-width: 100%;
  height: auto;
}

.cv {
	margin: 20px auto;
	  border: 3px solid white;
	  background-color: white;
	  width: 80%;
	  padding: 2%;
  border-radius: 4px;
  
}


hr {
border: 0.5px solid black;
border-radius: 5px;	
}


.user_header {
	    height:auto; 
    width:auto;
	margin: 0px 0px;
	text-align: center;
position: relative;

}

.user_info {
	font-size: 20px;
	vertical-align: top;

}

#user_img {
	  border: 2px solid #ddd;
	  background-color: white;
  border-radius: 4px;
  padding: 3px;
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
}

#user_img:hover {
	 box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#user_detail1 {
	text-align: left;
	  position: absolute;
	  padding: 15px 0;
  left: 12%;
}

.icon {
	color: black;
	margin: 0 15px;

}

.hover > a{
	color: black;
	font-size: 40px;
	   text-decoration: none;

}

.hover > a:hover {
	   text-decoration: underline;
}

#user_Dept1 {
	font-style: italic;
}

#user_emp > a:hover {
	text-decoration: underline;
}

#user_detail2 {
	text-align: right;
	position: absolute;
	right: 1%;

}

#user_emp > a {
		color: black;
	text-decoration: none;
}


#user_email > a{
	color: black;
	   text-decoration: none;

}


#user_email > a:hover {
	   text-decoration: underline;
}

.user_data {
	margin-top: 12%;
}

.div_class {
margin-top: 4.5%;	
}

.section {
		 font-size: 24px;
		 /*font-family: 'Playfair Display SC', serif;*/
	 font-family: Georgia;
	 margin-top: -10px;	

	 /*font-style: bold;*/
	/*text-transform: uppercase;*/
}

.sub_section {
		 font-size: 19px;
	 font-family: Georgia;
	  margin-top: -10px;
}

.status {
	font-style: italic;
}

.position {
	margin-top: 0.5%;	
 font-size: 17px;
 font-style: italic;
}

.paper_name {
font-style: italic;
}

.ed1{
	position: relative;

}



.education_location1 {
	vertical-align: top;
		display: inline-block;
		 
}



.susection1 {
	  margin-top: -30px;
	  margin-bottom: -40px;
}

.susection2 {
	  margin-top: -20px;
	  
}

#edl1 {
	text-align: right;
	position: absolute;
	right: 1%;
	margin-top: -5px;

}

#edl2 {
	text-align: right;
	position: absolute;
	right: 1%;
	margin-top: -30px !important;
/*margin-top: -20px;*/
}


.degree1 {
	margin-top: -30px;	
	font-style: italic;
	vertical-align: top;
		display: inline-block;
}

#edl3 {
	text-align: right;
	position: absolute;
	right: 1%;
	margin-top: -10px;

}

#edl4 {
	text-align: right;
	position: absolute;
	right: 1%;
	margin-top: -30px !important;

}

.ssection {
	font-size: 20px;
	margin-top: -10px;

}

.reference {
	font-size: 20px;
	vertical-align: top;
		display: inline-block;
		margin-top: -5px !important;
		margin-bottom: 10px !important;
	
}

#r1 {
	font-size: 17px;
	text-align: right;
	position: absolute;
	right: 1%;
}

.positionref {
	margin-top: -0.5%;	
 font-size: 17px;
 font-style: italic;
}

#date {
	text-align: right;
	font-style: italic;
}	
}


